/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root [data-theme='vintage'] {
    --theme-font-family-base: 'Inter', sans-serif;
    --theme-font-family-heading: 'Abril Fatface', sans-serif;
    /* ... */
}

html, body { @apply h-full overflow-hidden; }
